# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
Assets/Art/BadgeTexture.psd
Assets/Art/Textures/HatTexture.psd
Assets/Art/Textures/HatUVEditable.psd
Assets/Art/PlatformBaseTexture.psd
Assets/Art/CrystalTexture.psd
Assets/Art/BadgeTexture.psd.meta
Assets/Art/ConjurerWandTexture.psd
Assets/Art/ConjurerWandTexture.psd.meta
Assets/Art/CrystalTexture.psd.meta
Assets/Art/GuardianWandUV.psd
Assets/Art/GuardianWandUV.psd.meta
Assets/Art/PlatformBaseTexture.psd.meta
Assets/Art/Textures/HatTexture.psd.meta
Assets/Art/Textures/HatUVEditable.psd.meta
Assets/Art/HeadTexture.psd
Assets/Art/HeadTexture.psd.meta
Assets/Art/GlassHammerUV.psd
Assets/Art/GlassHammerUV.psd.meta
Assets/Art/MageRobeUV.psd
Assets/Art/MageRobeUV.psd
Assets/Art/MageRobeUV.psd
Assets/Art/MageRobeUV.psd
Assets/Art/MageRobeUV.psd
Assets/Art/HelmetUV.psd
Assets/Art/MageArmorUV.psd
Assets/Art/MageCapeUV.psd
Assets/Art/HelmetUV.psd.meta
Assets/Art/MageArmorUV.psd.meta
Assets/Art/MageCapeUV.psd.meta
Assets/Art/StonePlatformUV.psd
Assets/Art/StonePlatformUV.psd.meta
